body {
    background-color: blanchedalmond;
    font: 1em sans-serif;
    
}

h1 {
    text-align: center;
    text-shadow: 1rem;
    color: rgb(139, 78, 196);
}

h2 {
    text-align: center;
}

.btn{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
button{
    
    background-color: azure;
    
    height: 2rem;
    width: 7rem;
    border-radius: 5%;
    margin: 1rem; 
    
}

#increment-btn,#save-btn{
    background-color: red;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    
}

#save-btn{
    background-color: green;
}