body{
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
}

button{
    height: 20rem;
    width: 10rem;
    background-color: white;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-image: url("https://play-lh.googleusercontent.com/HgDXnBxrGwhfnPX8RNXwj8N30kEuBtiDC4MwAWHNEtv0CA03NhsXg7oXe8OqIQBWsw");
}